
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <!--<span class="glyphicon glyphicon-list-alt"></span>-->
                            <a href="/category/{{ linux_base[0].category.basename }}/1.html" title="{{ linux_base[0].category.name }}">{{ linux_base[0].category.name }}</a>
                            <a href="/category/{{ linux_base[0].category.basename }}/1.html" title="更多" class="more">›› 更多</a>
                        </div>
                        <ul class="list-group">
                            {% for article in linux_base[0:6] %}
                                <li class="list-group-item"><a href="/post/{{ article.id }}.html"
                                    title="{{ article.title }}">{{ article.title }}</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <!--<span class="glyphicon glyphicon-list-alt"></span>-->
                            <a href="/category/{{ linux_oper[0].category.basename }}/1.html" title="{{ linux_oper[0].category.name }}">{{ linux_oper[0].category.name }}</a>
                            <a href="/category/{{ linux_oper[0].category.basename }}/1.html" title="更多" class="more">›› 更多</a>
                        </div>
                        <ul class="list-group">
                            {% for article in linux_oper[0:6] %}
                                <li class="list-group-item"><a href="/post/{{ article.id }}.html"
                                    title="{{ article.title }}">{{ article.title }}</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
            </div>
                        <div class="row">
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <!--<span class="glyphicon glyphicon-list-alt"></span>-->
                            <a href="/category/{{ linux_code[0].category.basename }}/1.html" title="{{ linux_code[0].category.name }}">{{ linux_code[0].category.name }}</a>
                            <a href="/category/{{ linux_code[0].category.basename }}/1.html" title="更多" class="more">›› 更多</a>
                        </div>
                        <ul class="list-group">
                            {% for article in linux_code[0:6] %}
                                <li class="list-group-item"><a href="/post/{{ article.id }}.html"
                                    title="{{ article.title }}">{{ article.title }}</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <!--<span class="glyphicon glyphicon-list-alt"></span>-->
                            <a href="/category/{{ linux_sql[0].category.basename }}/1.html" title="{{ linux_sql[0].category.name }}">{{ linux_sql[0].category.name }}</a>
                            <a href="/category/{{ linux_sql[0].category.basename }}/1.html" title="更多" class="more">›› 更多</a>
                        </div>
                        <ul class="list-group">
                            {% for article in linux_sql[0:6] %}
                                <li class="list-group-item"><a href="/post/{{ article.id }}.html"
                                    title="{{ article.title }}">{{ article.title }}</a>
                            </li>
                            {% end %}
                        </ul>
                    </div>
                </div>
            </div>