<div class="container" style="margin-top: 60px;">

    <ol class="breadcrumb">
        <li>当前位置: <a href="{{ domain }}">首页</a></li>
        <li>用户</li>
        <li><a href="/collect/list"> 我的收藏</a></li>
    </ol>
    <div class="panel panel-black">
        <div class="panel-heading">
            我的收藏
        </div>
        <ul class="list-group">

            {% for article in collections %}
            <li class="list-group-item">
                <a href="/post/{{ article.id }}.html">
                    {{ article.title }}
                </a>
                <span class="post_cat"><a data-inline="true" href="/category/{{ article.category.basename }}/1.html" class="tag1">{{ article.category.name }}</a></span>

            </li>
            {% end %}

        </ul>
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-6">
                    本文链接： <a href="/collect/list" style="color:#006699">我的收藏</a>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <div class="widget_baidu_share">
                        <div class="bdsharebuttonbox bdshare-button-style0-16" data-bd-bind="1491815129055"><a href="#"
                                                                                                               class="bds_more"
                                                                                                               data-cmd="more"></a><a
                                title="分享到微信" href="#" class="bds_weixin" data-cmd="weixin"></a><a title="分享到Facebook"
                                                                                                   href="#"
                                                                                                   class="bds_fbook"
                                                                                                   data-cmd="fbook"></a><a
                                title="分享到linkedin" href="#" class="bds_linkedin" data-cmd="linkedin"></a><a
                                title="分享到Twitter" href="#" class="bds_twi" data-cmd="twi"></a><a title="分享到邮件分享"
                                                                                                  href="#"
                                                                                                  class="bds_mail"
                                                                                                  data-cmd="mail"></a><a
                                title="分享到印象笔记" href="#" class="bds_evernotecn" data-cmd="evernotecn"></a><a
                                title="分享到打印" href="#" class="bds_print" data-cmd="print"></a></div>
                        <script>window._bd_share_config = {
                            "common": {
                                "bdSnsKey": {},
                                "bdText": "",
                                "bdMini": "2",
                                "bdMiniList": ["mshare", "weixin", "fbook", "tsina", "bdysc", "renren", "twi", "tqq", "bdxc", "kaixin001", "linkedin", "evernotecn", "copy", "print"],
                                "bdPic": "",
                                "bdStyle": "0",
                                "bdSize": "16"
                            },
                            "share": {},
                            "image": {
                                "viewList": ["weixin", "fbook", "linkedin", "twi", "mail", "evernotecn", "print"],
                                "viewText": "分享到：",
                                "viewSize": "16"
                            },
                            "selectShare": {
                                "bdContainerClass": null,
                                "bdSelectMiniList": ["weixin", "fbook", "linkedin", "twi", "mail", "evernotecn", "print"]
                            }
                        };
                        with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>