<div>
    <ul class="pagination">
        {% for line in page_string %}
        {% raw line %}
        {% end %}

        <!--<li class="active"><a href="/category/rs/1">1</a></li>-->

        <!--<li class=""><a href="/category/rs/2">2</a></li>-->

        <!--<li class="">-->
        <!--<a href="/category/rs/3">3</a></li>-->

        <!--<li class="">-->
        <!--<a href="/category/rs/4">4</a></li>-->

        <!--<li><a class="{0}" href="/category/rs/2">Next page</a>-->
        <!--</li>-->

        <!--<li>-->
        <!--<a class="{0}" href="/category/rs/16"> End</a>-->
        <!--</li>-->

    </ul>

</div>


<!--<ul class="pagination">-->

    <!--<li><a class="{0}" href="/category/spatech/1">Home </a></li>-->

    <!--<li><a class="{0}" href="/category/spatech/2">Previous page</a></li>-->


    <!--<li class=""><a href="/category/spatech/1">1</a></li>-->

    <!--<li class="">-->
        <!--<a href="/category/spatech/2">2</a></li>-->

    <!--<li class="active">-->
        <!--<a href="/category/spatech/3">3</a></li>-->


<!--</ul>-->